---
---

// Font.
$font: (
  primary: ("Varela Round",sans-serif),
  secondary: ("Lato",sans-serif)
);

// Palette.
$palette: (
  primary:           #1d1f24,
  secondary:         #0c2938,
  meta:              #064d70,
  border:            #0c7bb3,
  bg:                #ffffff,
  accent:            #53baed,
  accent-alt:        #229ad6,
  border-accent:     #cf7911,
  accent-purple:     #b5267b,
  accent-purple-alt: #632695,
  accent-green:      #438945,
  accent-green-alt:  #73bb75,
  accent-orange:     #fe8c00,
  accent-orange-alt: #f83600
);

@import "imports/functions";

@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/structure";
@import "imports/header";
@import "imports/posts";
@import "imports/sections";
@import "imports/footer";
@import "imports/palettes";
@import "imports/banner";
