<!doctype html>
<html lang="en">

<head>

    <title>{% assign title_is_not_empty = page.title | is_not_empty %}{% if title_is_not_empty %}{{ page.title }} -
        {% endif %}{{ site.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google" content="notranslate" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Mukta:wght@300;400;500;700&family=Varela+Round&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}">
</head>

<body>

    {{ content }}
    <!-- Scripts -->
    <script src="{{ 'js/plugins.js' | relative_url }}"></script>
    <script src="{{ 'js/init.js' | relative_url }}"></script>
    <script src="{{ 'js/main.js' | relative_url }}"></script>
    <script async>
        (function(d,t) {
          var BASE_URL = "https://app.chatwoot.com";
          var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
          g.src= BASE_URL + "/packs/js/sdk.js";
          s.parentNode.insertBefore(g,s);
          g.onload=function(){
            window.chatwootSDK.run({
              websiteToken: '25wJZK5eLJeH9YecxGtempCK',
              baseUrl: BASE_URL
            })
          }
        })(document,"script");
      </script>
</body>

</html>